<footer class="site-footer">
  <p>
    <a href="mailto:ds@dominic-smith.com">ds@dominic-smith.com</a> &middot;
    <a href="https://bsky.app/profile/dominicsmith.bsky.social">Bluesky</a> &middot;
    <a href="https://twitter.com/dominic_a_smith">Twitter</a> (inactive) &middot;
    <a href="https://scholar.google.com/citations?user=Ie6aam0AAAAJ&hl=en">Google Scholar</a> &middot;
    <a href="https://ideas.repec.org/e/psm160.html">REPEC</a>
  </p>
  <p>Opinions expressed here do not reflect the official views of the U.S. government.</p>
  <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
</footer>
