<footer role="contentinfo" class="page-footer">
<p>
<a href="https://ideas.repec.org/e/psm160.html" rel="noopener noreferrer" target="_blank">REPEC Profile</a><br/>
  Disclaimer: Opinions expressed here do not reflect the official views of the U.S. government. 

<style>
  my-email::after {
    content: attr(data-domain);
  }
  my-email::before {
    content: attr(data-user) "\0040";
  }
</style>

<!-- Set data-user and data-domain as your
       email username and domain respectively

Contact Me: <my-email data-user="dominic.smith2" data-domain="gmail.com"></my-email>
</p>
-->
</footer>
