<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="/assets/img/favicon.png" type="image/png" />
<link rel="stylesheet" href="/assets/css/style.css" />
{% seo %}
<script defer src="/assets/js/main.js"></script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Dominic Smith",
  "jobTitle": "Research Economist",
  "worksFor": { "@type": "Organization", "name": "U.S. Bureau of Labor Statistics" },
  "url": "{{ site.url }}",
  "email": "ds@dominic-smith.com",
  "sameAs": [
    "https://bsky.app/profile/dominicsmith.bsky.social",
    "https://twitter.com/dominic_a_smith",
    "https://scholar.google.com/citations?user=Ie6aam0AAAAJ&hl=en"
  ]
}
</script>
